.footer {
  margin-left: 8px;
  margin-top: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 24px;
}
.footer-curtail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
.footer-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.footer-help {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
